In [129]:
import pandas as pd
import numpy as np
import yfinance as yf

In [130]:
stocks= ['AAPL', 'GE', 'SPY', 'CCL', 'NOK', 'ZM']

In [131]:
def get_log_returns(stocks, start, end):
    
    log_returns_df = pd.DataFrame()
    for ticker in stocks:
        x = yf.Ticker(ticker)
        ticker_data = x.history(start=start, end=end)
        ticker_data[ticker + '_log_ret'] = np.log(ticker_data['Close']) - np.log(ticker_data['Close'].shift(1))
        log_returns_df[ticker + '_log_ret'] = ticker_data[ticker + '_log_ret']
        
    return log_returns_df

In [132]:
x = get_log_returns(stocks,"2020-03-01","2020-04-04")
x

,AAPL_log_ret,GE_log_ret,SPY_log_ret,CCL_log_ret,NOK_log_ret,ZM_log_ret
Date,,,,,,
2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-03,-0.032275,-0.029907,-0.029056,-0.037915,-0.036273,0.037822
2020-03-04,0.045341,0.006419,0.041186,0.019599,0.018301,-0.005720
2020-03-05,-0.032975,-0.082865,-0.033810,-0.152458,-0.053204,0.067851
2020-03-06,-0.013369,-0.068851,-0.016667,-0.026174,-0.024898,-0.089312
2020-03-09,-0.082395,-0.135357,-0.081297,-0.222223,-0.075617,-0.004998
2020-03-10,0.069546,0.075065,0.050425,0.099733,0.003017,-0.047345
2020-03-11,-0.035348,-0.075065,-0.049949,-0.099273,-0.058932,0.016546
2020-03-12,-0.103978,-0.127114,-0.100581,-0.373566,-0.181683,-0.007553
2020-03-13,0.113157,0.082274,0.082043,0.160714,0.048608,-0.018439
2020-03-16,-0.137708,-0.164394,-0.115894,-0.187797,-0.124190,0.003622
2020-03-17,0.043031,0.061154,0.052567,-0.136576,0.044452,0.029597
2020-03-18,-0.024785,-0.070204,-0.051939,-0.312375,-0.040328,0.066253
2020-03-19,-0.007692,-0.018349,0.002093,0.072571,0.052116,0.041741
2020-03-20,-0.065590,0.006154,-0.044034,0.182322,0.038319,0.053331
2020-03-23,-0.021473,-0.064948,-0.025901,0.000000,-0.003766,0.200664
2020-03-24,0.095606,0.137411,0.086731,0.131028,0.103850,-0.165813
2020-03-25,-0.005524,0.075533,0.014859,0.128126,0.043268,0.021443
2020-03-26,0.051285,0.071459,0.056749,0.136261,0.025725,0.021773
2020-03-27,-0.042284,-0.063554,-0.030238,-0.212399,-0.045462,0.072082
2020-03-30,0.028138,0.034820,0.031960,-0.118477,0.013202,-0.005420
2020-03-31,-0.002043,0.006317,-0.015018,0.028496,0.016261,-0.032057
2020-04-01,-0.054052,-0.120305,-0.046049,-0.403190,-0.042840,-0.064447
2020-04-02,0.016549,-0.020087,0.022813,-0.099067,0.023296,-0.116534
2020-04-03,-0.014476,-0.024946,-0.014560,0.063205,-0.023296,0.050144

In [143]:
def get_distance(df):
    corr_matrix = df.corr(method='pearson')
    print(corr_matrix)
    dist_matrix = np.sqrt(2 * (1 - corr_matrix))
    return dist_matrix

In [144]:
get_distance(x)

              AAPL_log_ret  GE_log_ret  SPY_log_ret  CCL_log_ret  NOK_log_ret  \
AAPL_log_ret      1.000000    0.880921     0.975411     0.597493     0.794001
GE_log_ret        0.880921    1.000000     0.920029     0.751141     0.856351
SPY_log_ret       0.975411    0.920029     1.000000     0.639696     0.849638
CCL_log_ret       0.597493    0.751141     0.639696     1.000000     0.738476
NOK_log_ret       0.794001    0.856351     0.849638     0.738476     1.000000
ZM_log_ret       -0.322118   -0.266091    -0.324260    -0.040274    -0.200165

              ZM_log_ret
AAPL_log_ret   -0.322118
GE_log_ret     -0.266091
SPY_log_ret    -0.324260
CCL_log_ret    -0.040274
NOK_log_ret    -0.200165
ZM_log_ret      1.000000

,AAPL_log_ret,GE_log_ret,SPY_log_ret,CCL_log_ret,NOK_log_ret,ZM_log_ret
AAPL_log_ret,0.000000,0.488015,0.221761,0.897225,0.641871,1.626111
GE_log_ret,0.488015,0.000000,0.399926,0.705491,0.536003,1.591283
SPY_log_ret,0.221761,0.399926,0.000000,0.848886,0.548383,1.627428
CCL_log_ret,0.897225,0.705491,0.848886,0.000000,0.723220,1.442411
NOK_log_ret,0.641871,0.536003,0.548383,0.723220,0.000000,1.549300
ZM_log_ret,1.626111,1.591283,1.627428,1.442411,1.549300,0.000000