In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [110]:
stocks= ['AAPL', 'GE', 'SPY', 'CCL']

In [76]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-04-01,246.500000,248.720001,239.130005,240.910004,240.910004,44054600
2020-04-02,240.339996,245.149994,236.899994,244.929993,244.929993,41483500
2020-04-03,242.800003,245.699997,238.970001,241.410004,241.410004,32418200

In [111]:
def get_log_returns(stocks, start, end):
    
    log_returns_df = pd.DataFrame()
    for ticker in stocks:
        x = yf.Ticker(ticker)
        ticker_data = x.history(start=start, end=end)
        ticker_data[ticker + '_log_ret'] = np.log(ticker_data['Close']) - np.log(ticker_data['Close'].shift(1))
        log_returns_df[ticker + '_log_ret'] = ticker_data[ticker + '_log_ret']
        
    return log_returns_df

In [112]:
x = yf.Ticker('AAPL')
x.history(start="2020-04-01", end="2020-04-04")

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2020-04-01  246.50  248.72  239.13  240.91  44054600          0             0
2020-04-02  240.34  245.15  236.90  244.93  41483500          0             0
2020-04-03  242.80  245.70  238.97  241.41  32418200          0             0

In [113]:
get_log_returns(stocks,"2020-04-01","2020-04-04")

            AAPL_log_ret  GE_log_ret  SPY_log_ret  CCL_log_ret
Date
2020-04-01           NaN         NaN          NaN          NaN
2020-04-02      0.016549   -0.020087     0.022813    -0.099067
2020-04-03     -0.014476   -0.024946    -0.014560     0.063205